---
---
 
@font-face {
  font-family: 'Bitter';
  src: url('style/Bitter/Bitter-Regular.eot');
  src: url('style/Bitter/Bitter-Regular.eot?#iefix') format('embedded-opentype'),
      url('style/Bitter/Bitter-Regular.woff2') format('woff2'),
      url('style/Bitter/Bitter-Regular.woff') format('woff'),
      url('style/Bitter/Bitter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter';
  src: url('style/Bitter/Bitter-Bold.eot');
  src: url('style/Bitter/Bitter-Bold.eot?#iefix') format('embedded-opentype'),
      url('style/Bitter/Bitter-Bold.woff2') format('woff2'),
      url('style/Bitter/Bitter-Bold.woff') format('woff'), 
      url('style/Bitter/Bitter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
 

body{
  font-family: 'Bitter' , sans-serif; 
  font-size: 14px;
  margin: 0;
  padding: 0;
  background: #fff;
  text-align: center;
}

a{
  text-decoration: none;
  color : #f00;
}
a:visited{
  color : #b73c00;
}
a:hover{ 
  color : #72700d;
}

#myhead{ 
  position: fixed;
  left:0px;
  top:0px;
  right: 0px;
  height: 50px;  
  color: #333;   
  background: #f7f5e7;  
  text-align: left;
  border-bottom: solid 1px  #191a1c;
  padding-left: 5%;
  padding-right: 5%;
}
#myhead::before{
  content: " ";
  height: 100%;
  display: inline-block;
  vertical-align: middle; 
}
#icon{
  display: inline-block;
  vertical-align: middle;
}
#myhead h1{
  color: #333;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;

}

.centervertical::before{
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;  
}
 

#headmenu{
  display: inline-block;
  height: 100%;
  vertical-align: middle; 
  width: 800px;
  text-align: center;
}
#headmenu .menuchild{
  display: inline-block; 
  height: 100%;  
  cursor: pointer;
  position: relative;
} 
.menuchild .ch{
  display: inline;
  vertical-align: middle;
  padding-left : 15px;
  padding-right: 15px;  
  color: inherit;
}
 


.menuchild:hover{
  background: #72700d;
  color: #fff;
}

.menuchild:hover .dropdown-content {
  display: block;
}  

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
 
.dropdown-content a:hover {background-color: #ddd}
 
.dropdown-content { 
  text-align: left;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}



#content{ 
  margin-left: -5px;
  border-left: 2px solid #eee;
  text-align: left;  
  padding : 30px; 
  min-height: 1000px; 
  vertical-align: top;
  width: 700px; 
  display: inline-block; 
}

#content img{
    max-width: 600px;
}

#content h1 {
    font-size: 50px; 
    font-weight: bold;
    margin-bottom: 0px;
}

#content .date{
    font-size: 11px;
    margin-bottom: 30px;
}

.but{
  display: inline-block;
  padding: 3px 20px 3px 20px;
  cursor: pointer;
  text-decoration: none;
  background: #553f03;
  color: #e2dddd !important;
}
.but:hover{
  background: #977203;
  color: #fff;
}

/** Sidebar **/

#leftbar{  
  width: 200px;      
  overflow: auto; 
  display: inline-block;
  margin-top: 50px;
  vertical-align: top;
  text-align: left; 
}
#leftbar a{
  display: block; 
  padding: 15px;

  color: #000;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none; 
  
} 
#leftbar a:hover{
  background: #977203;
  color: #fff;

}
#leftbar .curpage, #leftbar .curpage:hover{
  background: #eee;
  color: #333;  
}
#leftbar .childcategory{ 
  padding: 10px 10px 10px 30px; 
}

.backtotop{
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background: #977203;
  color: #fff !important;
  cursor: pointer;
  padding: 5px;
  -webkit-border-radius: 4px;  
  -moz-border-radius: 4px; 
  border-radius: 4px;
  text-decoration: none;
}
.backtotop:hover{
  background: #5a4406;
}




#home_butbanner{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  display: block;  
}
.butbanner{
    display: inline-block; 
    background: #f7b709;  
    -webkit-border-radius: 4px;  
    -moz-border-radius: 4px; 
    border-radius: 4px;
    padding: 5px 15px 5px 15px;
    margin-right: 10px;
    margin-left: 10px;
} 
.butbanner img, .butbanner a{
    vertical-align: middle;
    display: inline-block; 
} 
.butbanner a{
    text-decoration: none;
    color: #fff ;
    font-size: 25px;
    font-weight: bold;
}
.butbanner a:visited{
  color: #fff ;
}
.butbanner a:hover{
  color: #990808 ;
}

.circleimage{
   border-radius:50%;
   -webkit-border-radius:50%;  
   -moz-border-radius: 50%; 

}


@import "highlights"; 
